// new
.main {

    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    // background: rgb(2, 0, 36);
    // background: -moz-radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(38, 121, 9, 1) 35%, rgba(0, 212, 255, 1) 100%);
    // background: -webkit-radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(38, 121, 9, 1) 35%, rgba(0, 212, 255, 1) 100%);
    // background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(38, 121, 9, 1) 35%, rgba(0, 212, 255, 1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#00d4ff", GradientType=1);
    width: 100vw !important;
    height: 100vh !important;





    .content,
    .language,
    .description,
    .contentPaper,
    .forgottenpassword {
        margin: 0 auto !important; // căn giữa 
        text-align: center;
    }

    .mainContent {
        padding-top: 10px;
        margin-top: 30px;

        .contentPaper {
            padding: 10px;
        }

        .contentPaper:nth-child(1) {
            padding-top: 30px;
            border: 1px solid;
            background: linear-gradient(60deg, #26c6da, #00acc1);
            color: #ffff;
            text-align: center;
            font-size: 21px;
            margin: 20px auto !important;
            border-radius: 6px;
        }

        .contentLogin {
            display: flex;
            align-items: center;
            height: 100vh;
            position: relative;

            // .language {
            //     height: 100%;
            // }
        }
    }

}